body {
    background-color: rgb(240, 240, 240);
}

h1 {
    text-align: center;
    color: darkblue;
    border-bottom: 2px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
   
    font-size: 40px;
    font-weight: 600;
}

p {
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
   
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

button {
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 10px;

    background-color: white; 
    color: black; 
    border: 2px solid darkblue;
    margin-left:auto;
    margin-right:auto;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

button:hover {
    background-color: darkblue;
    color: white;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.24);
}

#main-container {
    display: inline-grid;
    grid-template-columns: auto;
    background-color: darkblue;
    padding: 10px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    visibility: hidden;
}
